.check-group__wrapper {
  padding: 9px 0 28px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.check-group .main-form__legend {
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 56px;
  }
}

.check-group__list {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 31px 60px;

    margin: 0 40px 53px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 31px 82px;

    margin: 0 auto 59px;

    max-width: $max-desktop;
  }
}

.check-group__item:not(:last-child) {
  margin-bottom: 1px;
}
