.contacts-group {
  padding: 0 0 12px;
}

.contacts-group .main-form__legend {
  padding-top: 27px;

  margin-bottom: 35px;

  max-width: 190px;
}

.contacts-group__item:not(:last-child) {
  margin-bottom: 14px;
}
