.main-form__wrapper {
  padding: 27px 0 0;

  @media (min-width: $tablet) {
    padding: 66px 0 59px;
  }

  @media (min-width: $desktop) {
    padding: 76px 0 79px;
  }
}

.main-form__title {
  margin: 0 0 34px;

  @media (min-width: $tablet) {
    margin: 0 40px 55px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 55px;

    max-width: $max-desktop;
  }
}

.main-form__description {
  text-transform: uppercase;

  margin: 0 0 20px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    margin: 0 40px 65px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 65px;

    max-width: $max-desktop;
  }
}

.main-form__inner {
  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 80px;

    margin: 0 auto 69px;

    max-width: $max-desktop;
  }
}

.main-form__group {
  margin: 0;
  padding: 0;
  border: none;
}

.main-form__legend {
  font-size: 24px;
  line-height: 26px;

  margin: 0;
}

.main-form__list {
  @include list-style;

  @media (min-width: $tablet) {
    margin: 0 40px 0;
  }

  @media (min-width: $desktop) {
    margin: 0;
  }
}

.main-form__submit-wrapper {
  @media (min-width: $tablet) {
    display: flex;
    column-gap: 59px;

    align-items: center;
  }

  @media (min-width: $desktop) {
    column-gap: 80px;

    max-width: $max-desktop;

    margin: 0 auto;
  }
}

.main-form__submit {
  padding: 10px 44px;

  width: 100%;

  margin-bottom: 21px;

  @media (min-width: $tablet) {
    padding: 14px 44px;

    max-width: 284px;

    margin: 0 0 0 40px;
  }

  @media (min-width: $desktop) {
    margin: 0;

    max-width: 570px;
  }
}

.main-form__required-text {
  display: block;

  font-family: $secondary-font;
  text-align: center;
  line-height: 16px;

  margin: 0 0 32px 0;

  @media (min-width: $tablet) {
    text-align: left;

    display: inline-block;

    margin: unset;
  }
}
