.button {
  color: $basic-white;

  display: inline-block;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 10px 20px;

  border: none;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  &--primary {
    background-color: $basic-green;
  }

  &--secondary {
    background-color: $basic-grey;
    color: $special-dark-grey;
  }
}
