.button {
  color: $basic-white;

  display: inline-block;

  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  padding: 10px 20px;

  border: none;

  cursor: pointer;

  transition: background-color 0.3s, color 0.2s;

  &:focus-visible {
    outline: 2px solid $basic-black;
    outline-offset: 4px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }

  &--primary {
    background-color: $basic-green;

    &:hover {
      background-color: #5eaa2f;
    }

    &:active {
      background-color: #5eaa2f;
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--secondary {
    background-color: $basic-grey;
    color: $special-dark-grey;

    &:hover {
      background-color: #ebebeb;
    }

    &:active {
      background-color: #ebebeb;
    }
  }
}
