.radio {
  display: flex;
  align-items: center;

  gap: 15px;

  @media (min-width: $tablet) {
    gap: 19px;
  }

  &--disabled {
    opacity: 0.3;

    pointer-events: none;
  }
}

.radio__label {
  font-size: 16px;
  text-transform: uppercase;
  color: #222222;

  padding: 9px 0 0 0;

  position: relative;

  min-height: 30px;
  max-width: 230px;

  cursor: pointer;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    padding: 0;

    max-width: 500px;
  }

  @media (min-width: $desktop) {
    max-width: 430px;
  }
}

.radio__input {
  width: 30px;
  height: 30px;

  margin: 0;

  border-radius: 50%;
  border: 1px solid $special-grey;

  background-color: transparent;

  appearance: none;
  cursor: pointer;

  position: relative;

  &:checked::after {
    content: "";
    position: absolute;

    left: 8px;
    top: 8px;

    width: 12px;
    height: 12px;

    border-radius: 50%;
    background-color: $basic-green;
  }

  &:hover {
    border-color: #bababa;
  }

  @media (min-width: $tablet) {
    width: 40px;
    height: 40px;

    &:checked::after {
      left: 10px;
      top: 10px;

      width: 18px;
      height: 18px;
    }
  }
}
