.case {
  background-color: #eaeaea;

  padding: 25px 0 40px;
}

.case__title {
  margin-bottom: 40px;
}

.case__description {
  margin: 0 0 20px;
}

.case__list {
  @include list-style;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 32px;

  margin-bottom: 19px;
}

.case__item {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;

  position: relative;

  word-break: break-word;
}

.case__text {
  color: $special-dark-grey;

  font-family: $secondary-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;

  background-color: #eaeaea;

  margin: -9px auto 0;
  padding: 0 12px;

  max-width: 65px;
}

.case__number {
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  margin: 0;
  padding: 14px 20px 17px;

  border: 1px solid $special-grey;
  border-radius: 3px;
}

.case__price {
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.2px;

  margin: 0 0 20px;
}

.case__slider {
  width: 280px;
  margin: 0 auto 0;
}
