.hero {
  min-height: 480px;

  text-align: center;

  position: relative;
}

.hero__container {
  padding: 28px 0 164px;
  margin-bottom: 138px;

  box-sizing: border-box;

  position: relative;

  background-image: url("../../images/index-background-mobile@2x.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
  background-color: #62a53b;

  min-height: 275px;

  &::after {
    content: "";
    position: absolute;

    background-image: url("../../images/index-can-mobile@2x.png");
    background-repeat: no-repeat;
    background-size: 100%;

    left: calc(50% - 140px);
    top: calc(100% - 135px);

    width: 280px;
    height: 270px;
  }
}

.hero__title {
  color: $basic-white;

  line-height: 36px;

  margin: 0 auto 25px;

  max-width: 250px;
}

.hero__text {
  color: $basic-white;

  line-height: 14px;
  text-transform: uppercase;

  margin: 0 auto;

  max-width: 250px;
}

.hero__button {
  width: calc(100% - 80px);

  padding: 10px 20px;
  margin-bottom: 20px;
}
