.html-academy {
  color: $special-dark-grey;

  font-size: 16px;
  line-height: 20px;
}

.html-academy__text {
  max-width: 200px;
}

.html-academy__link {
  text-decoration: none;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  min-height: 34px;

  box-sizing: border-box;

  padding: 0 46px 0 0;

  background-image: url("../../images/logo-html.svg");
  background-repeat: no-repeat;
  background-size: 27px 34px;
  background-position: right center;

  &:hover,
  &:focus-visible {
    background-image: url("../../images/logo-html-hover.svg");
    outline: none;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet) {
    width: 164px;
  }
}
