.html-academy {
  color: $special-dark-grey;

  font-size: 16px;
  line-height: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  @media (min-width: $tablet) {
    gap: 23px;

    &:hover .html-academy__link {
      background-color: $basic-green;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

.html-academy__text {
  max-width: 200px;
}

.html-academy__link {
  text-decoration: none;

  display: block;

  width: 27px;
  height: 34px;

  mask-image: url("../../images/icons/stack.svg#logo-html");
  background-color: #666666;
  mask-repeat: no-repeat;
  mask-size: 27px 34px;

  &:focus-visible {
    background-color: $basic-green;
  }
}
