.instruction {
  @media (min-width: $tablet) {
    padding-bottom: 47px;

    position: relative;
    box-sizing: border-box;

    &::after {
      content: "";
      position: absolute;

      height: 1px;
      width: calc(100% + 60px);

      background-color: #e6e6e6;

      bottom: 0;
      left: -30px;
    }
  }
}

.instruction__wrapper {
  @media (min-width: $tablet) {
    max-width: 850px;
    box-sizing: border-box;

    margin: 0 auto;
  }
}

.instruction__title {
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    margin-bottom: 32px;
  }
}

.instruction__list {
  @include list-style;

  margin-bottom: 53px;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 37px 59px;

    margin-bottom: 0;
  }
}

.instruction__item {
  position: relative;

  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;

  padding: 2px 0 0 80px;
  align-items: center;

  min-height: 54px;
  max-width: 400px;

  counter-increment: instruction;

  &:not(:last-child) {
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    left: 0;
    top: 0;

    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: center;
  }

  @media (min-width: $tablet) {
    display: block;

    padding: 151px 60px 57px 0;

    &::before {
      width: 80px;
      height: 80px;

      top: 40px;
    }

    &::after {
      content: counter(instruction);
      position: absolute;

      top: 0;
      right: 73px;

      text-align: left;

      min-width: 140px;

      font-size: 280px;
      line-height: 280px;

      color: $basic-grey;
    }

    &:not(:last-child) {
      margin-bottom: unset;
    }

    &--leaf::after {
      right: 66px;
    }
  }

  &--leaf::before {
    background-image: url("../../images/icons/stack.svg#instruction-leaf");
    background-size: 25px 28px;
  }

  &--water::before {
    background-image: url("../../images/icons/stack.svg#instruction-water");
    background-size: 26px 28px;
  }

  &--tableware::before {
    background-image: url("../../images/icons/stack.svg#instruction-tableware");
    background-size: 25px 30px;
  }

  &--clock::before {
    background-image: url("../../images/icons/stack.svg#instruction-clock");
    background-size: 26px 31px;
  }
}

.instruction__description {
  margin: 0;

  @media (min-width: $tablet) {
    position: relative;
    z-index: 3;
  }
}
