.main-footer__inner {
  @media (min-width: $desktop) {
    position: relative;
  }
}

.main-footer__contacts {
  padding: 26px 20px;

  display: flex;
  justify-content: space-between;
  gap: 15px;

  background-color: $basic-white;

  @media (min-width: $tablet) {
    padding: 62px 70px 61px;
  }

  @media (min-width: $desktop) {
    position: absolute;
    z-index: 10;

    top: calc(22% + 7px);
    left: calc(50% - 610px);

    gap: 70px;

    padding: 61px 55px 60px 80px;
  }

  &--grey {
    background-color: $basic-grey;

    @media (min-width: $desktop) {
      background-color: $basic-white;
    }
  }
}

.main-footer__text {
  color: lighten($basic-black, 6.5%);
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  margin: 0;

  max-width: 180px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
  }
}

.main-footer__address {
  max-width: 140px;

  @media (min-width: $tablet) {
    text-align: right;

    max-width: 180px;
  }

  @media (min-width: $desktop) {
    text-align: left;
  }
}

.main-footer__info {
  background-color: $basic-grey;

  margin: 0 auto;
}

.main-footer__info-wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 19px;

  padding: 40px 20px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: unset;

    padding: 56px 30px;
  }

  @media (min-width: $desktop) {
    padding: 67px 0;

    max-width: $max-desktop;
  }
}

.main-footer__logo {
  margin: auto;

  @media (min-width: $tablet) {
    margin: 0;
  }
}

.main-footer__list {
  padding: 20px calc((100% - 132px) /2);

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding: 0;
    margin-left: 39px;

    border: none;
  }
}
