.main-header {
  padding: 0;

  &--green {
    @media (min-width: $desktop) {
      background-image: linear-gradient(to right, $basic-white 50%, #65a83e 50%, #65a83e 100%);
      background-size: auto;
      background-position: unset;
    }
  }
}

.main-header__container {
  display: flex;
  justify-content: end;

  position: relative;

  padding: 64px 0 0;

  background-image: url("../../images/logo-text.svg");
  background-repeat: no-repeat;
  background-size: 101px auto;
  background-position: top 23px center;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 40px);
    height: 1px;

    bottom: -1px;
    left: -20px;

    z-index: 5;

    background-color: #d9d9d9;
  }

  @media (min-width: $tablet) {
    padding: 39px 0 3px 267px;

    background-image: none;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 70px 111px 3px 150px;
    margin: 0  auto;

    max-width: $max-desktop;
  }
}

.main-header__logo {
  display: block;

  position: absolute;
  left: 0;
  top: 13px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  &:focus-visible {
    outline: none;

    &::after {
      content: "";
      position: absolute;

      top: -2px;
      left: -5px;
      right: -5px;
      bottom: -2px;

      border: 2px solid $basic-black;

      z-index: 10;
    }
  }

  @media (min-width: $tablet) {
    top: 25px;
  }

  @media (min-width: $desktop) {
    left: calc(50% - 610px);
    top: 54px;
  }
}

