.programs__wrapper {
  @media (min-width: $desktop) {
    max-width: $max-desktop;

    margin: 0 auto 71px;
  }
}

.programs__list {
  @include list-style;

  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    gap: 80px;
  }
}

.programs__item {
  background-color: $basic-grey;

  padding: 30px 33px 20px 20px;

  position: relative;

  &:last-child {
    margin-bottom: 20px;
  }

  &::before {
    content: "";
    position: absolute;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background-color: $basic-green;

    top: 24px;
    left: 20px;
  }

  &::after {
    content: "";
    position: absolute;

    background-repeat: no-repeat;
  }

  @media (min-width: $tablet) {
    padding: 77px 316px 57px 52px;
    margin: 0 auto;

    box-sizing: border-box;
    max-width: 850px;

    &::before {
      width: 200px;
      height: 200px;

      left: unset;
      top: 92px;
      right: 63px;
    }

    &:last-child {
      margin-bottom: 45px;
    }
  }

  @media (min-width: $desktop) {
    padding: 77px 61px 59px 51px;

    &::before {
      width: 100px;
      height: 100px;

      left: 52px;
      top: 47px;
      right: unset;
    }

    &:last-child {
      margin: 0;
    }
  }

  &--slim::after {
    background-image: url("../../images/icons/stack.svg#cat-slim");

    width: 36px;
    height: 50px;

    top: 21px;
    left: 27px;

    @media (min-width: $tablet) {
      width: 140px;
      height: 194px;

      left: unset;
      top: 81px;
      right: 93px;
    }

    @media (min-width: $desktop) {
      width: 70px;
      height: 97px;

      left: 67px;
      top: 41px;
      right: unset;
    }
  }

  &--pro::after {
    background-image: url("../../images/icons/stack.svg#cat-pro");

    width: 67px;
    height: 28px;

    top: 35px;
    left: 13px;

    @media (min-width: $tablet) {
      width: 268px;
      height: 112px;

      left: unset;
      top: 135px;
      right: 29px;
    }

    @media (min-width: $desktop) {
      width: 134px;
      height: 56px;

      left: 33px;
      top: 67px;
      right: unset;
    }
  }
}

.programs__title {
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;

  margin: 0 0 29px 70px;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;

    margin: 0 0 24px 0;
  }

  @media (min-width: $desktop) {
    padding: 0 0 0 163px;
    margin: 0 0 72px 0;
  }
}

.programs__description {
  margin: 0;
  padding-bottom: 23px;

  position: relative;

  &::after {
    content: "";
    position: absolute;

    width: calc(100% + 13px);
    height: 1px;

    left: 0;
    bottom: 0;

    background-color: #d9d9d9;
  }

  @media (min-width: $tablet) {
    margin: 0 0 52px 0;
    padding-bottom: unset;

    max-width: 500px;

    &::after {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin: 0 0 28px 0;
  }
}

.programs__link {
  color: $basic-black;

  font-size: 16px;
  line-height: 16px;
  text-decoration: none;
  text-transform: uppercase;

  display: inline-block;
  margin-top: 19px;
  padding-right: 47px;

  background-image: url("../../images/icons/stack.svg#icon-arrow");
  background-repeat: no-repeat;
  background-position: center right -2px;
  background-size: 34px auto;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    margin-top: unset;
    padding-right: 56px;

    background-size: 32px auto;
  }
}
