.catalog__list {
  @include list-style;

  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  margin: 0 auto 25px;
}

.catalog__item {
  padding: 20px 20px 25px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);

  position: relative;

  &::after {
    content: "";
    position: absolute;

    height: 1px;
    width: 100%;

    background-color: #ebebeb;

    bottom: 0;
  }
}

.catalog__image {
  display: block;
}

.catalog__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  color: #222222;

  max-width: 76px;

  margin: 2px 0 14px;
}

.catalog__button {
  grid-column: span 2;

  margin-top: 17px;
}
