.gift {
  min-height: 290px;

  background-color: rgba(104, 183, 56, 0.85);
  background-image: url("../../../images/icons/stack.svg#icon-gift"), url("../../../images/gift-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 78px 80px, contain;
  background-position: top 59px center, center;

  box-sizing: border-box;

  padding: 186px 61px 43px 58px;

  @media (min-resolution: 2dppx) {
    background-image: url("./images/icons/stack.svg#icon-gift"), url("./images/gift-mobile@2x.jpg");
  }

  @media (min-width: $tablet) {
    min-height: 200px;

    background-image: url("/images/icons/stack.svg#icon-gift"), url("/images/gift-tablet@1x.jpg");
    background-size: 80px 82px, contain;
    background-position: top calc(50% - 3px) left calc(50% - 236px), center;

    display: flex;
    justify-content: center;
    padding: 71px 125px 32px 320px;
  }

  @media (min-width: $tablet) and (min-resolution: 2dppx) {
    background-image: url("./images/icons/stack.svg#icon-gift"), url("./images/gift-tablet@2x.jpg");
  }
}

.gift__text {
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;

  color: $basic-white;

  max-width: 161px;

  margin: 0 auto;

  @media (min-width: $tablet) {
    text-align: left;

    margin: 0 0 0 102px;
  }
}
