.main-catalog__wrapper {
  padding: 27px 0 35px;

  @media (min-width: $tablet) {
    padding: 65px 0 75px;
  }

  @media (min-width: $desktop) {
    padding: 77px 0 18px;
  }
}

.main-catalog__title {
  margin: 0 20px 38px;

  @media (min-width: $tablet) {
    margin: 0 30px 85px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 83px;
    max-width: $max-desktop;
  }
}
