.main-catalog__wrapper {
  padding: 27px 0 0;
  margin: 0 0 35px;

  @media (min-width: $tablet) {
    padding: 65px 0 0;
    margin: 0 0 74px;
  }
}

.main-catalog__title {
  margin: 0 20px 38px;

  @media (min-width: $tablet) {
    margin: 0 30px 85px;
  }
}
