.more {
  padding: 78px 20px 24px;

  background-image: url("../../../images/icons/stack.svg#plus");
  background-size: 30px;
  background-position: top -63px center;
  background-repeat: no-repeat;

  text-align: center;
}

.more__title {
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;

  color: #111111;

  margin: 0 0 8px;
}

.more__description {
  font-family: $secondary-font;
  font-size: 12px;
  line-height: 16px;

  color: $special-dark-grey;

  margin: 0 0 21px;
}

.more__button {
  width: 100%;
}
